
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*

container

*/

.container a {
  color: inherit;
  text-decoration: none;
}

.container {
  background: url("./images/google.png");
  background-size: cover;
  background-position: center center;
  position: absolute;
  margin: auto;
  top: 65%;
  left: 17%;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
.container:hover .overlay {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.container:hover span {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform .5s ease, opacity 1.3s ease;
  transition: transform .5s ease, opacity 1.3s ease;
}
.container .overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin: auto;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}
.container span {
  color: #fff;
  font-size: 15px;
  position: absolute;
  margin: auto;
  margin-left: 25px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform .5s ease, opacity .7s ease;
  transition: transform .5s ease, opacity .7s ease;
}

/*

container2

*/

.container2 a {
  color: inherit;
  text-decoration: none;
}

.container2 {
  background: url("./images/facebook.png");
  background-size: cover;
  background-position: center center;
  position: absolute;
  margin: auto;
  top: 65%;
  left: 27%;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
.container2:hover .overlay2 {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.container2:hover span {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform .5s ease, opacity 1.3s ease;
  transition: transform .5s ease, opacity 1.3s ease;
}
.container2 .overlay2 {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin: auto;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}
.container2 span {
  color: #fff;
  font-size: 15px;
  position: absolute;
  margin: auto;
  margin-left: 18px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform .5s ease, opacity .7s ease;
  transition: transform .5s ease, opacity .7s ease;
}

/*

container3

*/

.container3 a {
  color: inherit;
  text-decoration: none;
}

.container3 {
  background: url("./images/twitter.png");
  background-size: cover;
  background-position: center center;
  position: absolute;
  margin: auto;
  top: 65%;
  left: 37%;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
.container3:hover .overlay3 {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.container3:hover span {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform .5s ease, opacity 1.3s ease;
  transition: transform .5s ease, opacity 1.3s ease;
}
.container3 .overlay3 {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin: auto;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}
.container3 span {
  color: #fff;
  font-size: 15px;
  position: absolute;
  margin: auto;
  margin-left: 25px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform .5s ease, opacity .7s ease;
  transition: transform .5s ease, opacity .7s ease;
}

/*

container4

*/

.container4 a {
  color: inherit;
  text-decoration: none;
}

.container4 {
  background: url("./images/instagram.png");
  background-size: cover;
  background-position: center center;
  position: absolute;
  margin: auto;
  top: 65%;
  left: 47%;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
.container4:hover .overlay4 {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.container4:hover span {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform .5s ease, opacity 1.3s ease;
  transition: transform .5s ease, opacity 1.3s ease;
}
.container4 .overlay4 {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin: auto;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}
.container4 span {
  color: #fff;
  font-size: 15px;
  position: absolute;
  margin: auto;
  margin-left: 15px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform .5s ease, opacity .7s ease;
  transition: transform .5s ease, opacity .7s ease;
}

/*

container5

*/

.container5 a {
  color: inherit;
  text-decoration: none;
}

.container5 {
  background: url("./images/youtube.png");
  background-size: cover;
  background-position: center center;
  position: absolute;
  margin: auto;
  top: 65%;
  left: 57%;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
.container5:hover .overlay5 {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.container5:hover span {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform .5s ease, opacity 1.3s ease;
  transition: transform .5s ease, opacity 1.3s ease;
}
.container5 .overlay5 {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin: auto;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}
.container5 span {
  color: #fff;
  font-size: 15px;
  position: absolute;
  margin: auto;
  margin-left: 22px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform .5s ease, opacity .7s ease;
  transition: transform .5s ease, opacity .7s ease;
}

/*

container6

*/

.container6 a {
  color: inherit;
  text-decoration: none;
}

.container6 {
  background: url("./images/naver.png");
  background-size: cover;
  background-position: center center;
  position: absolute;
  margin: auto;
  top: 65%;
  left: 67%;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
.container6:hover .overlay6 {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.container6:hover span {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform .5s ease, opacity 1.3s ease;
  transition: transform .5s ease, opacity 1.3s ease;
}
.container6 .overlay6 {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin: auto;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}
.container6 span {
  color: #fff;
  font-size: 15px;
  position: absolute;
  margin: auto;
  margin-left: 30px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform .5s ease, opacity .7s ease;
  transition: transform .5s ease, opacity .7s ease;
}

/*

container7

*/

.container7 a {
  color: inherit;
  text-decoration: none;
}

.container7 {
  background: url("./images/daum.png");
  background-size: cover;
  background-position: center center;
  position: absolute;
  margin: auto;
  top: 65%;
  left: 77%;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
.container7:hover .overlay7 {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.container7:hover span {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform .5s ease, opacity 1.3s ease;
  transition: transform .5s ease, opacity 1.3s ease;
}
.container7 .overlay7 {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  margin: auto;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}
.container7 span {
  color: #fff;
  font-size: 15px;
  position: absolute;
  margin: auto;
  margin-left: 32px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform .5s ease, opacity .7s ease;
  transition: transform .5s ease, opacity .7s ease;
}
